    .control-panel{
        padding:10px;
        margin-bottom: -10px;
    }
    .control-line{
        margin-right: -30px;
        margin-bottom:10px;
    }
    .custom-item{
        display:inline-block;
        height:34px;
        line-height:34px;
        vertical-align:middle;
        width: 330px;
        margin-right: 30px;
    }
    .custom-item .form-control{
        display: inline-block;
        width: 240px;
    }
    #control-btns{
        display: inline-block;
    }
    .selectLabel{
        width: 80px;
    }
    .pic{
        height:30px;
        width: 40px;
    }
    #dataTable_wrapper #dataTable th,
    #dataTable_wrapper #dataTable td{
        font-size:12px;
    }
    select.level{
        display:block;
        margin-bottom:5px;
        min-width:150px;
        width: auto;
        max-width: 266px;
    }
    .margin-negative{
        margin-bottom:-10px;
    }
    .form-group{
        margin-bottom: 10px;
    }
    .tips{
        font-size: 10px;
        color:darkgray;
    }
    .submitDiv{
        margin-top: 20px;
    }
    #control-btns{
        width: 325px;
    }

     .logo{
        font-size:26px;
        font-weight:bold;
      }
      .logo span{

      }
      .tips{
        font-size: 10px;
        color:darkgray;
      }
