	body{
		background:#f9f9f9;
	}
	a{
		text-decoration: none;
	}
	img{
		border:none;
	}
	input{ 
		outline:none;
	}
	body{
		background:#fff;
	}
	.clearFix:after{
		content:'';
		clear:both;
		display:block;
	}
	.clearFix{
		zoom:1;
	}

	.searchOverall{
		display:none;
	}
	/* 主要内容显示 */
	.mainCont{
		width:1200px;
		margin:35px 0 100px;
	}
	/*收货人、支付方式、商品等信息  开始*/
	.guestInformation{
		width:1200px;
	}
	.logistics{
		display:none;
	}
	.guestInformation h3{
		font-size:18px;
		margin-bottom:20px;
	}
	.receiveDetails,.no-logistics{
		width:1178px;
		border:1px solid #f5f5f5;
		padding:20px 0 3px 20px;
		margin-bottom:30px;
	}
	.no-logistics,.reDeail{
		display:none;
	}
	.receiveInform{
		margin-bottom:18px;
		width:1178px;
		font-size:14px;
	}
	.receiveInform span:nth-child(1){
		width:74px;		
	}
	.c999{
		color:#999;
	}
	.receiveInform span:nth-child(2){
		width:1084px;
		white-space:nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.logisticsInfor{
		width:1084px;
	}
	.logisticsInfor li{
		width:1084px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
		margin-bottom:10px;
	}
	.gsDetails{
		width:1120px;
		background:#f9f9f9;
	}
	.gsTit{
		width:1198px;
		height:48px;
		border:1px solid #f5f5f5;
		display:table;
	}
	.gsTit span{
		text-align:center;
		display:table-cell;
		vertical-align: middle;
		margin-bottom:6px;
	}
	.w440{
		width:440px;
	}
	.w260{
		width:260px;
	}
	.w224{
		width:224px;
	}
	.w274{
		width:274px;
	}
	.w1200{
		width:1200px;
	}
	.wholeInfor{
		background: #fff;
		position:relative;
	}
	.wholeInfor .checkLog{
		position:absolute;
		right:14px;
		top:39px;
		font-size:14px;
		cursor:pointer;
		font-weight: bold;
		color:rgb(237, 20, 91);
	}
	.WholeDetails{
		width:1198px;
		margin-top:-1px;
		border:1px solid #f5f5f5;
		display:table;
	}
	.WholeDetails li{
		padding:10px;
		height:78px;
		display:table-cell;
		vertical-align:middle;
		font-size:14px;
		text-align:center;
	}
	.WholeDetails li p{
		margin-left:20px;
		text-align:left;
	}
	.payInfor{
		width:1180px;
		border:1px solid #f5f5f5;
		margin-top:-1px;
		text-align:right;
		padding:30px 18px 0 0;
	}
	.pay{
		margin-bottom:20px;
		height:18px;
		line-height:18px;
		font-size:14px;
	}
	.pay strong{
		color:#cc082c;
		font-size:18px;
	}
	.acceptAdd{
		display:inline-block;
	}
	.no-logistics{
		height:160px;
		color:#cc082c;
	}
	.moreLine{
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    cursor: pointer;
	}
	.c0a2a{
		color:#cc0a2a;
	}