    body{
        background-color: #fafafa; 
    }
	/*----找回密码----*/
    .main{
        width: 80%;
        min-height: 500px;
        border: 1px solid #f5f5f5;
        background-color: white;
        margin: 89px auto 200px;
    }
    .main_title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 30px 0 0;
    }
    .main_table{
        margin: 10px auto 0;
        border-collapse: separate;
	    border-spacing: 10px 20px;
    }
    .main table span{
        font-size: 14px;
    }
    .long,.code{
        border: 1px solid #cccccc;
        padding-left: 20px;
        width: 278px;
        height: 38px;
    }
    .code{
        width: 128px;
    }
    .code_img{
        width: 130px;
        height: 38px;
        float: right;
        border: 1px solid #cccccc;
        position: relative;
    }
    .main_table p{
        position: absolute;
        bottom: -30px;
        left: 0;
        font-size: 14px;
    }
    .main_table p span{
        color: #cc0a2a;
    }
    .main_table p span:hover{
        cursor: pointer;
    }
    #errmsg_phone,#errmsg_code,#errmsg_password,#errmsg_again,#errmsg_imgs{
        color: #cc0a2a;
        font-size: 14px;
        height: 20px;
    }
    .submit,.next,.submit_again{
        width: 300px;
        height: 40px;
        border: 0;
        background-color: #cc0a2a;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    /*----发送手机验证码----*/
    .message_code_table{
        width: 500px;
        margin: 30px auto 0;
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
    .get_code{
        width: 140px;
        height: 38px;
        border: 1px solid #cccccc;
        background-color: #f5f5f5;
        margin-left: 6px; 
    }
    .message_code_table span{
        display: inline-block;
        float: right;
    }
    .msg_code{
        display:inline-block;
        vertical-align: top;
        width: 140px;
        height: 38px;
        border: 1px solid #cccccc;
        margin-left: 6px;
    }
    .msg_code:hover{
        cursor:pointer;
    }
    .timeOut{
        color:#fff;
        background-color:#ccc;
    }
    /*----新密码----*/
    .password_table{
        width: 500px;
        display: none;
        margin: 0 auto ;
        border-collapse: separate;
        border-spacing: 10px 40px;
        padding-bottom: 40px;
    }
    .password_table span{
        display: inline-block;
        float: right;
    }
    .describe_tr{
        position: relative;
    }
    .describe_tr p{
        position: absolute;
        top: 50px;
        font-size: 12px;
    }
    .errmsg3_td{
        position: relative;
    }
    #errmsg3{
        position: absolute;
        top: 50px;
        font-size: 12px;
    }
    /*----密码设置成功----*/
    .success{
        display: none;
        margin-top: 150px;
    }
    .success div{
        width: 250px;
        margin: 55px auto 60px;
        position: relative;
    }
    .success img{
        display: inline-block;
        vertical-align: middle;
    }
    .success p{
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        margin-left: 20px;
        line-height: 60px;
        position: absolute;
        bottom: 0;
    }
    .success button{
        width: 300px;
        height: 40px;
        color: white;
        border: 0px;
        font-size: 18px;
        font-weight: bold;
        background-color: #cc0a2a;
        display: block;
        margin: 0 auto;
    }
    .main button:hover{
        cursor: pointer;
    }