{% extends "i3jf/base.html" %}
		
		{% block css %}
		<link rel="stylesheet" href="{{static_url}}css/base.css">
		<link rel="stylesheet" href="{{static_url}}css/style.css">
		<link rel="stylesheet" type="text/css" href="{{static_url}}css/payment.css">
		<link rel="stylesheet" type="text/css" href="{{static_url}}css/phone_m.css">

		<style type="text/css">
			.phone_errmsg {
			    padding-top: 10px;
			    height: 20px;
			    color: #cc0a2a;
			    font-size: 14px;
			    line-height: 20px;
			}
			.main{
				height: auto;
			}
		</style>
		{% endblock %}

		{% block content %}
		<div id="pageHead">
			<div class="pageheadContent">
				<div class="leftHead">
					<div class="mainTittle left">
						<a href="/"><img src="{{static_url}}images/logo.png" alt=""></a>
					</div>
											<div class="separateD" style="border-right: 4px solid rgb(102, 102, 102);"></div>
										<div class="subTittle left" style="display: inline-block;">
						<span class="subWord" style="color: rgb(39, 39, 36);">
															个人设置
													</span>
					</div>
				</div>
				<div class="searchOverall">
										<input type="text" placeholder="请输入搜索内容" class="left searchInput">
					<span class="left searchBtn">搜&nbsp;&nbsp;索</span>
				</div>
			</div>
		</div>
		 		<div id="containerBox">
			<div id="container" class="">
				<div class="main">
	<p class="main_title">修改支付密码</p>
	<table>
		<tbody>
		<tr>
			<td>
				<span>手机号码：</span>
			</td>
			<td>
				<input class="phone" type="text" placeholder="请输入您绑定的手机号码" maxlength="11">
				<div class="phone_errmsg"></div>
			</td>
		</tr>
		<tr>
			<td>
				<span>验证码：</span>
			</td>
			<td>
				<input class="code" type="text" placeholder="手机验证码">
				<button class="get_code">获取短信验证码</button>
				<div class="errmsg"></div>
			</td>
		</tr>
		<tr class="again">
			<td>
			    <span>新支付密码：</span>
			</td>
			<td class="tdinp">

			<div class="pwdcontainer"><input id="pwd_again" name="pwd_again" maxlength="6"></div></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div id="errmsg"></div>
			</td>
		</tr>
	</tbody></table>
	<button class="save" onclick="save();">保存</button>
</div>
<div class="success">
	<img src="{{static_url}}images/register_ok.png">
	<p>恭喜您，修改支付密码成功！</p>
	<a href="/">去逛逛</a>
</div>
			</div>
		</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
<script type="text/javascript" src="{{static_url}}js/publics.js"></script>
<script type="text/javascript">

    var checkLogin = new checkLogin();//判断登录
    if (checkLogin.flag) {
        logged_in(); //已登陆
    }else{
        not_logged_in(); //未登录
        window.location.href = '/api/user/login/';
    }

    //未登录可以执行的方法
    function not_logged_in(){
        getCategoryList();//获取分类导航
        setSortListHover();//分类导航hover
    };
    //已登录执行的方法
    function logged_in(){
        getCategoryList();//获取分类导航
        setSortListHover();//分类导航hover
        cartAmount();//购物车数量
    };



	var flag = false;
	$(".phone").blur(function(){
		phoneval();
	});
	function phoneval(){
		var leng = $(".phone").val().length;
		// console.log(leng)
		if (leng!=11) {
			// console.log(222)
			$(".phone_errmsg").text("请输入11位手机号码");
			$(".get_code").attr("disabled","disabled");
			return false;
		}else{
			$(".errmsg").text(" ");
			$(".get_code").removeAttr("disabled");
		};
	};
	$(".get_code").click(function(){
		getcode()
	});
	function getcode(){
		var phone = $(".phone").val();
		$.ajax({
			url:'/api/user/pay_password/get_verification_code',
			type:'GET',
			datatype:'json',
			data:{
				'telephone':phone
			},
			success:function(data){
				// console.log(data);
			},
			error:function(error){
				alert("获取修改支付手机验证码失败,请刷新...");
			}
		})
	};
	$(".code").blur(function(){
		var leng = $(".code").val().length;
		if (leng != 6) {
			$(".errmsg").text("请输入6位验证码");
			$(".save").attr('disabled','disabled');
			return;
		};
		checkcode()

	});
	function checkcode(){
		var phone = $(".phone").val();
		var code = $(".code").val();
		$.ajax({
			url:'/api/pay_password/check_verification_code',
			type:'GET',
			datatype:'json',
			data:{
				'telephone':phone,
				'code':code
			},
			success:function(data){
				// console.log(data);
			},
			error:function(error){
				alert("校验手机验证码失败,请刷新...");
			}
		})
	}
	function newpassword(){
		var newpassword = $("#pwd_again").val();
		$.ajax({
			url:'/api/user/pay_password/',
			type:'POST',
			datatype:'json',
			data:{
				'newpassword':newpassword
			},
			success:function(data){
				// console.log(data);
			},
			error:function(error){
				alert("新支付密码设置失败,请刷新...");
			}
		})
	}
	$("#pwd_again").blur(function(){
		$(".save").removeAttr('disabled');
	})
	function save(){
		var leng = $("#pwd_again").val().length;
		if (leng != 6) {
			$(".save").attr('disabled','disabled');
			$("#errmsg").text("请输入6位密码");
			return;
		};
		newpassword();
	}


	// $(function (){
	// 	setHead('#cc0a2a','#272724','','超级积分','个人设置');
	// 	initAll();
	// });

	// //集合初始化
	// function initAll() {
	// 	initOldPwd();
	// 	initPwd();
	// 	initAgainPwd();
	// 	$(".old .first").focus();
	// }

	// //初始化旧密码输入框
	// function initOldPwd(){
	// 	$('.old .pwdcontainer').parent().html('<input name="opwd" id="opwd" maxlength="6" /><p>请输入旧密码</p>');
	// 	$("#opwd").pwd();
	// 	$('.old .pwdcontainer input').bind('blur',function(){
	// 		var value = $(this).val();
	// 		var index = $(this).attr('data-index');
	// 		$("#errmsg").text('');
	// 		if(index == 5 && checkNull(value)){
	// 			$(".new .first").focus();
	// 		}else{
	// 			initPwd();
	// 		}
	// 	});
	// }

	// //初始化新密码输入框
	// function initPwd(){
	// 	$('.new .pwdcontainer').parent().html('<input name="password" id="pwd" maxlength="6" /><p>请输入新密码（仅限数字）</p>');
	// 	$("#pwd").pwd();
	// 	$('.new .pwdcontainer input').bind('blur',function(){
	// 		var value = $(this).val();
	// 		var index = $(this).attr('data-index');
	// 		$("#errmsg").text('');
	// 		if(index == 5 && checkNull(value)){
	// 			$('.again .pwdcontainer input').attr('disabled',false);
	// 			$(".again .first").focus();
	// 		}else{
	// 			initAgainPwd();
	// 			$('.again .pwdcontainer input').attr('disabled',true);
	// 		}
	// 	});
	// }

	// function getPassword(targetId){
	// 	var password = '';
 //        var passItem = $('#'+targetId+'.pwdcontainer .pwdInput');
 //        $.each(passItem,function(index,content){
 //            var value = $(content).val();
 //            password+= value+'';
 //        });
	// }

	// //初始化重输密码输入框
	// function initAgainPwd(){
	// 	$('.again .pwdcontainer').parent().html('<input name="password" id="pwd_again" maxlength="6" />');
	// 	$("#pwd_again").pwd();
	// 	$('.again .pwdcontainer input').prop('disabled',true);
	// 	$('.again .pwdcontainer input').bind('blur',function(){
	// 		var value = $(this).val();
	// 		var index = $(this).attr('data-index');
	// 		setTimeout(function(){
	// 			var password = $("#pwd").val();
	// 			var password_again = $("#pwd_again").val();
	// 			if(index == 5 && checkNull(value)){
	// 				if ( password != password_again ) {
	// 		            $("#errmsg").text('两次输入的密码不一致!');
	// 		            $(".new .pwdInput").val('');
	// 		            $(".again .pwdInput").val('');
	// 		            $('.again .pwdcontainer input').attr('disabled',true);
	// 		            initPwd();
	// 		            initAgainPwd();
	// 		            $(".new .first").focus();
	// 		        }else{
	// 		        	$('.save').attr('disabled',false);
	// 		        	$("#errmsg").text('');
	// 		        }
	// 			}
	// 			else
	// 			{
	// 				$('.save').attr('disabled',true);
	// 		        $("#errmsg").text('');
	// 			}
	// 		},100);
	// 	}).keypress(function(event){
	// 		if(event.keyCode=='13') {
	// 			save();
	// 		}
	// 	});
	// }

	// //校验旧密码
	// function checkOldPwd(pwd) {
	// 	$.ajax({
	// 		url:''
	// 	})
	// 	ajaxAction(
	// 		'GET',
	// 		apiPath('/api/user/payPassword?username='+userInfo.username),
	// 		{},
	// 		true,
	// 		function(data,textStatus){
	// 			var old = data.oldPassword;
	// 			if(pwd == old) {
	// 				return;
	// 			} else {
	// 				$('#errmsg').text('旧密码输入有误！');
	// 			}
	// 		},
	// 		function(errno,errmsg) {
	// 			$('#errmsg').text(errmsg);
	// 		}
	// 	);
	// }

 //    //验证填写信息
 //    function save(){
	// 	var password_old = $('#opwd').val();
 //        var password = $("#pwd").val();
 //        var password_again = $("#pwd_again").val();

	// 	if(password_old.length < 5 ) {
	// 		$('#errmsg').text('请填写旧支付密码！');
	// 		return;
	// 	}
 //        if ( password.length <=0 ) {
 //            $("#errmsg").text('请填写新支付密码！');
 //            return;
 //        }
 //        if ( password_again.length <=0 ) {
 //            $("#errmsg").text('请填写确认密码！');
 //            return;
 //        }
 //        if ( password != password_again ) {
 //            $("#errmsg").text('两次输入的密码不一致!');
 //            return;
 //        }

 //        $('.save').attr("disabled",true);

 //        ajaxAction(
 //            'POST',
 //            apiPath('/api/user/payPassword'),
 //            {
 //                'payPassword': password,
	// 			'oldPayPassword': password_old
 //            },
 //            true,
 //            function(data,textStatus){
 //                $(".main").css('display','none');
 //                $(".success").css('display','block');
 //            },
 //            function(errno,errmsg) {
 //                $('#errmsg').text(errmsg);
 //                $('.save').attr("disabled",true);
	// 			initAll();
 //            }
 //        );
 //    }

</script>
{% endblock %}
