{% extends "i3jf/base.html" %}
		
		{% block css%}
		<link rel="stylesheet" href="{{static_url}}css/base.css">
		<link rel="stylesheet" type="text/css" href="{{static_url}}css/style.css">
		<link rel="stylesheet" type="text/css" href="{{static_url}}css/password.css">
		{% endblock %}


		{% block content %}
		<div id="containerBox">
			<div id="container" class="">
				<div class="main">
					<p class="main_title">找回密码</p>
				    <table class="message_code_table">
				        <tbody><tr>
				            <td>
				                <span>&nbsp;&nbsp;&nbsp;手机号：</span>
				            </td>
				            <td>
				                <input class="phone long" type="text" placeholder="请输入手机号">
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <p id="errmsg_phone"></p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <span>&nbsp;&nbsp;&nbsp;图形验证码：</span>
				            </td>
				            <td>
				                <input class="message_imgs code" type="text" placeholder="请输入图形验证码">
				                <div class="msg_code" onclick="getCaptcha('#code_img');"><img id="code_img" src="" ></div>
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <p id="errmsg_imgs"></p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <span>&nbsp;&nbsp;&nbsp;短信验证码：</span>
				            </td>
				            <td>
				                <input class="message_code code" type="text" placeholder="请输入短信验证码" id="dxbtn">
				                <button class="get_code">获取短信验证码</button>
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <p id="errmsg_code"></p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <span>&nbsp;&nbsp;&nbsp;新密码：</span>
				            </td>
				            <td class="describe_tr">
				                <input class="new_password long" type="password" placeholder="6-20位字母和数字组成">
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <p id="errmsg_password"></p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <span>&nbsp;&nbsp;&nbsp;确认新密码：</span>
				            </td>
				            <td class="errmsg3_td">
				                <input class="password_again long" type="password" placeholder="请输入确认密码" onkeyup="chekKey(event);">
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <p id="errmsg_again">&nbsp;</p>
				            </td>
				        </tr>
				        <tr>
				            <td></td>
				            <td>
				                <button class="submit_again">提交</button>
				            </td>
				        </tr>
				    </tbody>
				    </table>
				    <div class="success">
				        <div>
				            <img src="{{static_url}}images/register_ok.png">
				            <p>密码重置成功!</p>
				        </div>
				        <a href="/"><button>去首页</button></a>
				    </div>
				</div>
			</div>
		</div>
		{% endblock %}


		{% block js %}
		<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
		<script type="text/javascript" src="{{static_url}}js/publics.js"></script>
		<script type="text/javascript">

			$(function (){
		        //图形验证码
		        getCaptcha('#code_img');
		        //提交按钮
		        $('.submit_again').bind('click',function(){
		        	submit_again();
		        });
		        //发送手机验证码
		        $('.get_code').bind('click', getCode);
			});

		    function getCaptcha(id){
		    	// console.log("获取图片验证码接口进入");
		    	$.ajax({
		    		url:'/api/user/get_captcha',
		    		type:'GET',
		    		datatype:'json',
		    		data:{

		    		},
		    		success:function(data){
		    			var errno = data.errno;
		    			if (errno == 0) {
		    				// console.log("获取图片验证码接口回调成功---"+data);
		    				$(id).attr('src',data.captcha_url);
					        $(id).css({
					            width: '140px',
					            height: '38px'
					        });
		    			}else{
		    				// console.log("获取图片验证码接口回调异常");
		    			}
		    		},
		    		error:function(error){
		    			alert("获取图片验证码失败,请刷新...");
		    		}
		    	})

		    }

		    /*----验证图片验证码----*/
		    function captcha(obj,err){
		        var code=$(obj).val();
		        // console.log("验证图片验证码进入");
		        $.ajax({
		        	url:'/api/user/check_captcha',
		        	type:'GET',
		        	datatype:'json',
		        	data:{
		        		'captcha':code
		        	},
		        	success:function(data){
		        		var errno = data.errno;
		        		if (errno == 0) {
		        			// console.log("校验图片验证码接口回调成功---"+data);
		        			$(err).text('');
		        		}else{
		        			// console.log("校验图片验证码接口回调成功异常");
		        		}
		        	},
		        	error:function(error){
		        		alert("校验图片验证码失败,请刷新...");
		        		$(err).text("校验验证码失败");
		        	}
		        })
		    }
		    /*-----验证图形验证码格式是否正确-----*/
		    $(".message_imgs").blur(function() {
		        var message_code = $(".message_imgs").val();

		       if($.trim(message_code).length != 4 ){
		           $("#errmsg_imgs").text('请填写4位图形验证码！');
		           return;
		       }
		       else{
		           $("#errmsg_imgs").html('&nbsp;');
		           captcha($(".message_imgs"),$("#errmsg_imgs"));
		           return;
		       }
		    });

		    //手机号失去焦点验证
		    $(".phone").blur(function(){
		        var phone = $(".phone").val();

		        if ( phone.length <=0) {
		            $('#errmsg_phone').text('请填写手机号码！');
		            return;
		        }else if( !isMobile.test(phone) ) {
		            $('#errmsg_phone').text('手机号码格式不正确！');
		            return;
		        }else{
		            $('#errmsg_phone').html('&nbsp;');
		        }
		    });
		    //新密码失去焦点验证
		    $(".new_password").blur(function(){
		        var new_password = $('.new_password').val();

		        if( new_password.length<=0 ){
		            $('#errmsg_password').text('请填写新密码！');
		            return false;
		        }else if( new_password.length <6 || new_password.length >20 ){
		            $('#errmsg_password').text('密码应该由6-20位字母和数字组成！');
		            return false;
		        }else if( !isPassword.test(new_password) ){
		            $('#errmsg_password').text('密码应该由6-20位字母和数字组成！');
		            return false;
		        }else{
		            $('#errmsg_password').html('&nbsp;');
		        }
		    });
		    //确认密码失去焦点验证
		    $(".password_again").blur(function() {
		        var new_password = $('.new_password').val();
		        var password_again = $('.password_again').val();
		        if( new_password != password_again ) {
		            $('#errmsg_again').text('两次输入的密码不一致！');
		            return;
		        }else{
		            $('#errmsg_again').html('&nbsp;');
		        }
		    });

		    //验证码失去焦点
		    $(".message_code").blur(function() {
		        var code = $(".message_code").val();

		        if($.trim(code).length != 6 ){
		           $("#errmsg_code").text('请填写6位验证码！');
		           return;
		       }
		       else{
		           $("#errmsg_code").html('&nbsp;');
		           return;
		       }
		    });

		    var isMobile=/^1[3-5 7-8]\d{9}$/;
		    var isPassword = /^(?=.*[a-zA-Z])(?=.*[0-7])[a-zA-Z0-9]{6,20}$/;

		    /*----发送手机验证码----*/
		    var initTime = 60;
		    var codeTime = initTime;
		    var codeTimeout;

		    function getCode(){
		        var phone=$(".phone").val();
		        var codes=$('.message_imgs').val();
		        if (phone.length<=0) {
		            $("#errmsg_phone").text('请填写手机号码！');
		            return;
		        }else if( !isMobile.test(phone) ) {
		            $('#errmsg_phone').text('手机号码格式不正确！');
		            return;
		        }
		        // $('.get_code').addClass('timeOut');
		        // $('.get_code').text(codeTime+'s后失效');
		        // codeTimeout = setTimeout(timeOutCode,1000);
		        if ($.trim(codes).length<=0) {
		            $('#errmsg_imgs').html('请填写4位图形验证码！');
		            return;
		        }
		        sendMessage();
		    }
			function timeOutCode(){
				if(codeTime <= 1){
					codeTime = initTime;
					$('.get_code').removeClass('timeOut');
					$('.get_code').text('获取短信验证码');
					clearInterval(codeTimeout)
					getCaptcha('#code_img');
					// disabledButton($('.get_code')[0],false);
				}else{
					// disabledButton($('.get_code')[0],true);
					codeTime--;
					$('.get_code').addClass('timeOut');
					$('.get_code').text(codeTime+'s后重新发送');
					// codeTimeout = setTimeout(timeOutCode,1000);
			    }
			}

		    //获取手机验证码
		    function sendMessage(){
		    	// console.log("获取手机验证码进入");
		        var phone = $(".phone").val();
		        var codes=$(".message_imgs").val();
		        $.ajax({
		        	url:'/api/user/forget_password/get_verification_code',
		        	type:'GET',
		        	datatype:'json',
		        	data:{
		        		'telephone':phone
		        	},
		        	success:function(data){
		        		var data =JSON.parse(data);

		        		var errno = data.errno;
		        		if (errno == 0) {
		        			// console.log("获取手机验证码回调成功---"+data);
		        			$('#errmsg_phone').html('&nbsp;');
			                $('.get_code').addClass('timeOut');
			                $('.get_code').html(codeTime+'s后重新发送');
			                codeTimeout = setInterval(timeOutCode,1000);
		        		}else{
		        			// console.log("获取手机验证码回调成功异常");
		        		}
		        	},
		        	error:function(error){
		        		alert("获取手机验证码失败,请刷新...");
		        		// clearTimeout(codeTimeout);
		          //       codeTime = 0;
		          //       timeOutCode();
		          //       $('#errmsg_imgs').text(errmsg);
		          //       if(errno==20404)
		          //       {
		          //           $('#errmsg_imgs').text(errmsg);
		          //       }
		          //       else
		          //       {
		          //           $('#errmsg_phone').text(errmsg);
		          //       }
		        	}
		        })
		    }
		    $("#dxbtn").blur(function(){
		    	var phone = $(".phone").val();
		        var code = $('.message_code').val();
		        if (code.length != 6) {
		            // $('.submit_again').attr("disabled",true);
		            $("#errmsg_code").text("请输入6位验证码");
		        }else{
		        	checkCode();
		        }
		    })
		    //验证手机验证码
		    function checkCode(stage){
		        var phone = $(".phone").val();
		        var code = $('.message_code').val();
      			$.ajax({
      				url:'/api/user/forget_password/check_verification_code',
      				type:'GET',
      				datatype:'json',
      				data:{
      					telephone:phone,
      					code:code
      				},
      				success:function(data){

      					var data = JSON.parse(data);

      					console.log(data);

      					var errno = data.errno;
      					if (errno == 0) {
      						// console.log("验证手机验证码接口回调成功");
      						if (stage==true) {
			                    // $('.submit_again').attr("disabled",false);
			                    // forgetPassword();
			                }else{
			                    // $('.submit_again').attr("disabled",false);
			                }
      					}else{
      						// console.log("验证手机验证码接口回调成功异常");
      						$("#errmsg_code").text("请输入正确验证码");
      					}
      				},
      				error:function(error){
      					alert("验证手机验证码失败,请刷新...");
      					// $("#errmsg_code").text(errmsg);
		         //        $('.submit_again').attr("disabled",false);
      				}
      			})
		    }
		    //忘记密码找回
		    function forgetPassword(){
		        var new_password = $('.new_password').val();
		        $.ajax({
		        	url:'/api/user/forget_password',
		        	type:'POST',
		        	datatype:'json',
		        	data:{
		        		'new_password': new_password
		        	},
		        	success:function(data){
		        		var data = JSON.parse(data);
		        		console.log(data);
		        		var errno = data.errno;
		        		if (errno == 0) {
		        			console.log("忘记密码找回接口回调成功---"+data);
		        			$('.message_code_table').css('display','none');
			                $('.main_title').css('display', 'none');
			                $('.success').css('display','block');
		        		}else{
		        			// console.log("忘记密码找回接口回调成功异常");
		        			$("#errmsg_again").text("密码找回失败！")
		        		}
		        	},
		        	error:function(error){
		        		alert("忘记密码找回失败,请刷新...");
		        		stage=false;
		                // $('.submit_again').attr("disabled",false);
		        	}
		        })
		    }

		    /*----新密码----*/
		    function submit_again(){
		        var stage = true;
		        var phone=$('.phone').val();
		        var code=$('.message_code').val();
		        var new_password = $('.new_password').val();
		        var password_again = $('.password_again').val();
		        var codes2=$('.message_imgs').val();
		        if ( phone.length <=0) {
		            $('#errmsg_phone').text('请填写手机号码！');
		            stage = false;
		        }
		        if( new_password.length<=0 ){
		            $('#errmsg_password').text('请填写新密码！');
		            stage = false;
		        }
		        if ( password_again.length<=0 ) {
		            $('#errmsg_again').text('请填写确认密码！');
		            stage = false;
		        }
		        if( new_password.length <6 || new_password.length >20 )
		        {
		            $('#errmsg_password').text('密码应该由6-20位字母和数字组成！');
		            stage = false;
		        }
		        if(!isPassword.test(new_password))
		        {
		           $('#errmsg_password').text('密码应该由6-20位字母和数字组成！');
		            stage = false;
		        }
		        if( password_again != new_password )
		        {
		            $('#errmsg_again').text('两次输入的密码不一致！');
		            stage = false;
		        }
		        if($.trim(codes2).length!=4)
		        {
		            $('#errmsg_imgs').text('请填写4位图形验证码！');
		            stage = false;
		        }
		        if ( code.length<=0){
		            $('#errmsg_code').text('请填写手机验证码！');
		            stage = false;
		            return;
		        }
		        // checkCode()
		        forgetPassword();
		    }
		    //回车登录
		    function chekKey(e){
		        if(e.keyCode == 13){
		            submit_again();
		        }
		    }
		</script>

		{% endblock %}
