{% extends "i3jf/base.html" %}
        {% block css %}

		<link rel="stylesheet" href="{{static_url}}css/base.css">
		<link rel="stylesheet" href="{{static_url}}css/style.css">
		<link rel="stylesheet" href="{{static_url}}css/follow.css">
		<link rel="stylesheet" href="{{static_url}}css/recharge.css">

		<style type="text/css">
		    .word-alert{
		        margin: 10px auto 0px auto;
		        width: 282px;
		        text-align: left;
		        font-size: 14px;
		        color: red;
		    }
		</style>
		{% endblock %}

		{% block content %}

		<div id="pageHead">
			<div class="pageheadContent">
				<div class="leftHead">
					<div class="mainTittle left">
						<a href="/"><img src="{{static_url}}images/logo.png" alt=""></a>
					</div>
											<div class="separateD" style="border-right: 4px solid rgb(102, 102, 102);"></div>
										<div class="subTittle left" style="display: inline-block;">
						<span class="subWord">
															积分充值
													</span>
					</div>
				</div>
				<div class="searchOverall">
										<input type="text" placeholder="请输入搜索内容" class="left searchInput">
					<span class="left searchBtn">搜&nbsp;&nbsp;索</span>
				</div>
			</div>
		</div>

		<div id="containerBox">
			<div id="container" class="">
				<div class="rechar-body">
				    <form class="rechar-content">
				        <div class="content-row content-row-fir">
				            <label class="my-points">我的积分：</label>
				            <span data-point="myPoints" class="color-num"></span>
				        </div>
				        <div class="content-row content-row-sec">
				            <label class="my-points">充值积分：</label>
				            <input type="text" placeholder="请输入积分数量" value="" id="points" data-autormb="rechargeRMB" oninput="timeOutSwitch(this);" onkeyup="timeOutSwitch(this);">
				        </div>
				        <div class="content-row content-row-thir">
				            <label></label>
				            <p class="tip-convert">1元=<span data-rule="switchRule">1</span>积分</p>
				        </div>
				        <div class="content-row content-row-four">
				            <label class="my-points">需支付：</label>
				            <p class="should-pay"><span data-point="shouldPay" class="color-num">0.00</span>&nbsp;元</p>
				        </div>
				        <div class="rechar-btn">
				            <button type="button" class="btn-recharge" onclick="success();">用和包支付</button>
				            <p class="word-alert">注：和包支付需要允许浏览器弹出窗口，请确定您的浏览器允许弹出窗口后点击以上按钮</p>
				        </div>
				    </form>
				</div>
			</div>
		</div>
		{% endblock %}


		{% block js %}
		<script type="text/javascript" src="{{static_url}}js/jquery.js"></script>
		<script type="text/javascript" src="{{static_url}}js/publics.js"></script>
		<script type="text/javascript">
			var checkLogin = new checkLogin();//判断登录
            if (checkLogin.flag) {
                logged_in(); //已登陆
            }else{
                not_logged_in(); //未登录
                window.location.href = '/api/user/login/';
            }
            //未登录可以执行的方法
            function not_logged_in(){
                getCategoryList();//获取分类导航
                setSortListHover();//分类导航hover
            };
            //已登录执行的方法
            function logged_in(){
                getCategoryList();//获取分类导航
                setSortListHover();//分类导航hover
                cartAmount();//购物车数量
            };

		/*限制输入整数*/
		//checkNaN(this,true);
		// function checkNaN(target){
		// 	target.value=target.value.replace(/\D/g,'');
		// }
		    var timeout = '';

		    //登录成功后执行
		    function doSomething(){
		        getPoints();
		        $('#points').keypress(function(event){
		            if(event.keyCode == 13) {
		                success();
		            }
		        });
		    }

		    getPoints()
		    //获取用户积分
		    function getPoints(){
		        // if(!$('input[data-autoRMB="rechargeRMB"]').val())
		        // $('button.btn-recharge').attr('disabled','disabled');
		    	// console.log("获取用户积分接口进入");
		    	return $.ajax({
		    		url:'/api/user/get_credit',
		    		type:'GET',
		    		datatype:'json',
		    		data:{

		    		},
		    		success:function(data){
		    			var data = JSON.parse(data);
		    			// console.log(data);
		    			var userAmount = data.credit;
		                $('span[data-point="myPoints"]').text(userAmount);
		                swicthPoints('input[data-autoRMB="rechargeRMB"]');
		    		},
		    		error:function(error){
		    			alert("获取用户积分失败,请刷新...");
		    			// var mainMsg = errmsg;
	                    // var msgInfo = {
	                    //     'mainMsg': mainMsg,
	                    //     'alertType': true
	                    // };
	                    // diyAlert(msgInfo,true);
		    		}
		    	})
		    }

		    //判断是否为IE浏览器，如果为IE浏览器，再给他绑定事件
		    function IEBindChange(){

		    }

		    //间隔0.5秒执行实时调整积分数
		    function timeOutSwitch(target){
		        clearTimeout(timeout);
		        timeout = setTimeout(function(){
		            swicthPoints(target);
		        },500);
		    }

		    //获取充值金额
		    function swicthPoints(target){
		        var necessaryAmount=$(target).val();
		        var aa = toDecimal2(necessaryAmount);
		        $('span[data-point="shouldPay"]').text(aa);
		        if(!necessaryAmount)
		            $('button.btn-recharge').attr('disabled',true);
		        else
		            $('button.btn-recharge').attr('disabled',false);
		        // // console.log("获取充值金额接口进入");
		        // $.ajax({
		        // 	url:'/api/recharge/diff',
		        // 	type:'GET',
		        // 	datatype:'json',
		        // 	data:{
		        // 		'amount':necessaryAmount
		        // 	},
		        // 	success:function(data){
		        // 		alert("获取充值金额接口回调");
		        // 		var data = JSON.parse(data);
		        // 		// console.log(data);
		        // 		var errno = data.errno;
		        // 		if (errno == 0) {
		        // 			// console.log("获取充值金额接口回调成功---"+data);
		        // 			var price = (!data.price) ? 0 : data.price;
		        //             $('span[data-point="shouldPay"]').text(price);
		        // 		}else{
		        // 			// console.log("获取充值金额接口回调异常---"+data);
		        // 		}
		        // 	},
		        // 	error:function(error){
		        // 		alert("获取充值金额接口失败---"+error);
		        // 		// var mainMsg = errmsg;
	         //   //          var msgInfo = {
	         //   //              'mainMsg': mainMsg,
	         //   //              'alertType': true
	         //   //          };
	         //   //          diyAlert(msgInfo,true);
		        // 	}
		        // })
		    }

		    //制保留2位小数
		    function toDecimal2(x) {
		      var f = parseFloat(x);
		      // if (isNaN(f)) {
		      //   return false;
		      // }
		      var f = Math.round(x*100)/100;
		      var s = f.toString();
		      var rs = s.indexOf('.');
		      if (rs < 0) {
		        rs = s.length;
		        s += '.';
		      }
		      while (s.length <= rs + 2) {
		        s += '0';
		      }
		      return s;
		    }

		    //用和包支付
		    function success(){
		        var urlObj = '';
		        var rechargeRMB = $('input[data-autoRMB="rechargeRMB"]').val();
		        if(rechargeRMB) {
		        	// console.log("用和包支付接口进入");
		        	$.ajax({
		        		url:'/api/recharge/create/',
		        		type:'POST',
		        		datatype:'json',
		        		data:{
		        			'credit_amount':rechargeRMB,
		        			'return_type':1
		        		},
		        		success:function(data){
		        			var data = JSON.parse(data);
		        			// console.log(data);
		        			var errno = data.errno;
		        			if (errno == 0) {
		        				// console.log("用和包支付接口回调成功---"+data);
		        				urlObj = data.payUrl;
		        			}else{
		        				// console.log("用和包支付接口回调异常---"+data);
		        			}
		        		},
		        		error:function(error){
		        			alert("用和包支付失败,请刷新...");
		        			// var mainMsg = errmsg;
	            //             var msgInfo = {
	            //                 'mainMsg': mainMsg,
	            //                 'alertType': true
	            //             };
	            //             diyAlert(msgInfo,true);
		        		}
		        	})
		            window.open(urlObj.url);
		        } else {
		            var mainMsg = '请输入积分数量!';
		            var msgInfo = {
		                'mainMsg': mainMsg,
		                'alertType': true
		            };
		            // diyAlert(msgInfo,true);
		        }
		    }
		</script>
		{% endblock %}
